connector-ttbox/icecat-connector/icecat-jaxb-api/src/main/ICECAT-interface_response.ori.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="ICECAT-interface">
		<xs:complexType>
			<xs:choice>
				<xs:element name="Response" type="Response"/>
				<xs:element name="Product" type="Product"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="Response">
		<xs:all>
			<xs:element name="LanguageList" type="LanguageList" minOccurs="0"/>
			<xs:element name="MeasuresList" type="MeasuresList" minOccurs="0"/>
			<xs:element name="FeaturesList" type="FeaturesList" minOccurs="0"/>
			<xs:element name="CategoriesList" type="CategoriesList" minOccurs="0"/>
			<xs:element name="SuppliersList" type="SuppliersList" minOccurs="0"/>
			<xs:element name="CategoryFeaturesList" type="CategoryFeaturesList" minOccurs="0"/>
			<xs:element name="SupplierCategoriesList" type="SupplierCategoriesList" minOccurs="0"/>
			<xs:element name="ProductsList" type="ProductsList" minOccurs="0"/>
			<xs:element name="ProductsListLookup" type="ProductsListLookup" minOccurs="0"/>
			<xs:element name="ProductsStatistic" type="ProductsStatistic" minOccurs="0"/>
			<xs:element name="DescribeProductsResponse" type="DescribeProductsResponse" minOccurs="0"/>
			<xs:element name="StatisticQueryListResponse" type="StatisticQueryListResponse" minOccurs="0"/>
			<xs:element name="StatisticQueryDatesListResponse" type="StatisticQueryDatesListResponse" minOccurs="0"/>
			<xs:element name="StatisticQueryDateDataReportResponse" type="StatisticQueryDateDataReportResponse" minOccurs="0"/>
			<xs:element name="SupplierProductFamiliesList" type="SupplierProductFamiliesList" minOccurs="0"/>
			<xs:element name="ProductsComplaintResponse" type="ProductsComplaintResponse" minOccurs="0"/>
			<xs:element name="FulltextProductsSearchResponse" type="FulltextProductsSearchResponse" minOccurs="0"/>
			<xs:element name="FeatureValuesVocabularyList" type="FeatureValuesVocabularyList" minOccurs="0"/>
		</xs:all>
		<xs:attribute name="Status" type="xs:string" use="required"/>
		<xs:attribute name="Request_ID" type="xs:integer" use="required"/>
		<xs:attribute name="ID" type="xs:integer" use="required"/>
		<xs:attribute name="Date" type="xs:string" use="required"/>
		<xs:attribute name="Error" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="LanguageList">
		<xs:element name="Language" minOccurs="0" maxOccurs="unbounded">
			<xs:complexType>
				<xs:element name="Name" type="Name" minOccurs="0" maxOccurs="unbounded"/>
				<xs:attribute name="ID" type="xs:integer" use="required"/>
				<xs:attribute name="Sid" type="xs:integer" use="required"/>
				<xs:attribute name="Code" type="xs:string" use="required"/>
				<xs:attribute name="ShortCode" type="xs:string" use="required"/>
			</xs:complexType>
		</xs:element>
	</xs:complexType>

	<xs:complexType name="Name">
		<xs:simpleContent>
			<xs:extension base="xs:string">
					<xs:attribute name="ID" type="xs:integer"/>
					<xs:attribute name="langid" type="xs:integer"/>
					<xs:attribute name="Value" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="MeasuresList">
		<xs:element name="Measure" type="Measure" minOccurs="0" maxOccurs="unbounded"/>
	</xs:complexType>

	<xs:complexType name="Measure">
		<xs:element name="Sign" type="xs:string"/>
		<xs:element name="Signs" type="Signs"/>
		<xs:element name="Names" type="Names"/>
		<xs:element name="Descriptions" type="Descriptions"/>
		<xs:attribute name="ID" type="xs:integer" use="required"/>
		<xs:attribute name="Sign" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="Signs">
		<xs:element name="Sign" type="Sign" minOccurs="0" maxOccurs="unbounded"/>
	</xs:complexType>

	<xs:complexType name="Sign">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="ID" type="xs:integer"/>
				<xs:attribute name="langid" type="xs:integer"/>
				<xs:attribute name="Value" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="Names">
		<xs:element name="Name" type="Name" minOccurs="0" maxOccurs="unbounded"/>
	</xs:complexType>

	<xs:complexType name="Descriptions">
		<xs:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded"/>
	</xs:complexType>

	<xs:complexType name="Description">
		<xs:attribute name="ID" type="xs:integer" use="required"/>
		<xs:attribute name="langid" type="xs:integer" use="required"/>
		<xs:attribute name="Value" type="xs:string"/>
	</xs:complexType>
	
	<xs:complexType name="FeaturesList">
		<xs:element name="Feature" type="Feature" minOccurs="0" maxOccurs="unbounded"/>
	</xs:complexType>

	<xs:complexType name="Feature">
		<xs:element name="Measure" type="Measure"/>
		<xs:element name="Names" type="Names"/>
		<xs:element name="Descriptions" type="Descriptions"/>
		<xs:element name="RestrictedValue"/>
		<xs:element name="Name" type="Name"/>
		<xs:attribute name="ID" type="xs:integer" use="required"/>
		<xs:attribute name="LimitDirection" type="xs:integer"/>
		<xs:attribute name="Searchable" type="xs:boolean"/>
		<xs:attribute name="CategoryFeatureGroup_ID" type="xs:integer"/>
		<xs:attribute name="No" type="xs:integer"/>
		<xs:attribute name="Class" type="xs:boolean"/>
		<xs:attribute name="CategoryFeature_ID" type="xs:integer"/>
		<xs:attribute name="Type" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="CategoriesList">
		<xs:element name="Category" type="Category" minOccurs="0" maxOccurs="unbounded"/>
	</xs:complexType>

	<xs:complexType name="Category">
		<xs:element name="Name" type="Name" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="ParentCategory" type="ParentCategory" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="Keywords" type="Keywords" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="CategoryFeatureGroup" type="CategoryFeatureGroup" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="UNCATID" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="Names" type="Names" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="Feature" type="Feature" minOccurs="0" maxOccurs="unbounded"/>
		<xs:attribute name="UNCATID" type="xs:string"/>
		<xs:attribute name="Searchable" type="xs:boolean"/>
		<xs:attribute name="Score" type="xs:integer"/>
		<xs:attribute name="ThumbPic" type="xs:anyURI"/>
		<xs:attribute name="ID" type="xs:integer"/>
		<xs:attribute name="LowPic" type="xs:anyURI"/>
	</xs:complexType>

	<xs:complexType name="ParentCategory">
		<xs:element name="Names" type="Names" minOccurs="0" maxOccurs="unbounded"/>
		<xs:attribute name="ID" type="xs:integer" use="required"/>	
	</xs:complexType>

	<xs:complexType name="Keywords">
		<xs:attribute name="ID" type="xs:integer" use="required"/>
		<xs:attribute name="langid" type="xs:integer" use="required"/>
		<xs:attribute name="Value" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:complexType name="CategoryFeatureGroup">
		<xs:element name="FeatureGroup" type="FeatureGroup" minOccurs="0" maxOccurs="unbounded"/>
		<xs:attribute name="No" type="xs:integer"/>
		<xs:attribute name="ID" type="xs:integer"/>
		<xs:attribute name="FeatureGroup" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="FeatureGroup">
		<xs:element name="Name" type="Name" minOccurs="0" maxOccurs="unbounded"/>
		<xs:attribute name="ID" type="xs:integer" use="required"/>
	</xs:complexType>

	<xs:complexType name="SuppliersList">
		<xs:element name="Supplier" type="Supplier" minOccurs="0" maxOccurs="unbounded"/>
	</xs:complexType>

	<xs:complexType name="Supplier">
		<xs:attribute name="ID" type="xs:integer" use="required"/>
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="LogoPic" type="xs:anyURI"/>
		<xs:attribute name="Sponsor" type="xs:string"/>
	</xs:complexType>
	
	<xs:complexType name="CategoryFeaturesList">
		<xs:element name="Category" type="Category" minOccurs="0" maxOccurs="unbounded"/>
		<xs:attribute name="Code" type="xs:integer" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="SupplierCategoriesList">
		<xs:element name="Supplier" type="Supplier" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="Category" type="Category" minOccurs="0" maxOccurs="unbounded"/>
		<xs:attribute name="Code" type="xs:integer" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="ProductsList">
		<xs:element name="Product" type="Product" maxOccurs="unbounded"/>
	</xs:complexType>

<!-- ##################################################################################################################################  -->

	<xs:complexType name="Product">
		<xs:element name="ProductRelated" type="ProductRelated" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="ProductBundled" type="ProductBundled" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="Supplier" type="Supplier" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="ProductDescription" type="ProductDescription" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="SummaryDescription" type="SummaryDescription" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="CategoryFeatureGroup" type="CategoryFeatureGroup" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="ProductFeature" type="ProductFeature" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="Category" type="Category" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="ProductFamily" type="ProductFamily" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="ProductGallery" type="ProductGallery" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="ProductMultimediaObject" type="ProductMultimediaObject" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="EANCode" type="EANCode" minOccurs="0" maxOccurs="unbounded"/>
		<xs:attribute name="ID" type="xs:integer" use="required"/>
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="Prod_id" type="xs:string" use="required"/>
		<xs:attribute name="ThumbPic" type="xs:anyURI" use="required"/>
		<xs:attribute name="Quality" type="xs:string"/>
		<xs:attribute name="Code" type="xs:integer"/>
		<xs:attribute name="HighPic" type="xs:anyURI"/>
		<xs:attribute name="LowPic" type="xs:anyURI"/>
		<xs:attribute name="Score" type="xs:integer"/>
		<xs:attribute name="ProductsDescription" type="xs:string"/>
		<xs:attribute name="Relevance" type="xs:integer"/>
		<xs:attribute name="LowPicSize" type="xs:integer"/>
		<xs:attribute name="HighPicSize" type="xs:integer"/>
		<xs:attribute name="ThumbPicSize" type="xs:integer"/>
		<xs:attribute name="ErrorMessage" type="xs:string"/>
		<xs:attribute name="ReleaseDate" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="ProductRelated">
		<xs:element name="Product" type="Product" maxOccurs="unbounded"/>
		<xs:attribute name="ID" type="xs:integer"/>
		<xs:attribute name="Category_ID" type="xs:integer"/>
		<xs:attribute name="Reversed" type="xs:integer"/>
		<xs:attribute name="Preferred" type="xs:integer"/>
	</xs:complexType>

	<xs:complexType name="ProductBundled">
		<xs:element name="Product" type="Product" minOccurs="0" maxOccurs="unbounded"/>
		<xs:attribute name="ID" type="xs:integer"/>
	</xs:complexType>

	<xs:complexType name="ProductDescription">
		<xs:attribute name="URL" type="xs:anyURI" use="required"/>
		<xs:attribute name="WarrantyInfo" type="xs:string" use="required"/>
		<xs:attribute name="ID" type="xs:integer" use="required"/>
		<xs:attribute name="PDFURL" type="xs:anyURI" use="required"/>
		<xs:attribute name="PDFSize" type="xs:integer" use="required"/>
		<xs:attribute name="ManualPDFURL" type="xs:anyURI" use="required"/>
		<xs:attribute name="ManualPDFSize" type="xs:integer" use="required"/>
		<xs:attribute name="langid" type="xs:integer" use="required"/>
		<xs:attribute name="LongDesc" type="xs:string" use="required"/>
		<xs:attribute name="ShortDesc" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:complexType name="SummaryDescription">
		<xs:element name="LongSummaryDescription" type="xs:string"/>
		<xs:element name="ShortSummaryDescription" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="ProductFeature">
		<xs:element name="Feature" type="Feature" minOccurs="0" maxOccurs="unbounded"/>
		<xs:attribute name="CategoryFeatureGroup_ID" type="xs:integer" use="required"/>
		<xs:attribute name="CategoryFeature_ID" type="xs:integer" use="required"/>
		<xs:attribute name="Value" type="xs:string" use="required"/>
		<xs:attribute name="Presentation_Value" type="xs:string" use="required"/>
		<xs:attribute name="No" type="xs:integer" use="required"/>
		<xs:attribute name="ID" type="xs:integer" use="required"/>
		<xs:attribute name="Localized" type="xs:boolean" use="required"/>
	</xs:complexType>

	<xs:complexType name="ProductFamily">
		<xs:element name="Supplier" type="Supplier" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="Name" type="Name" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="ParentProductFamily" type="ParentProductFamily" minOccurs="0" maxOccurs="unbounded"/>
		<xs:attribute name="ID" type="xs:integer" use="required"/>
		<xs:attribute name="ThumbPic" type="xs:anyURI"/>
		<xs:attribute name="LowPic" type="xs:anyURI"/>
		<xs:attribute name="Category_ID" type="xs:integer"/>
		<xs:attribute name="Name" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="ParentProductFamily">
		<xs:attribute name="ID" type="xs:integer" use="required"/>
	</xs:complexType>

	<xs:complexType name="ProductGallery">
		<xs:element name="ProductPicture" minOccurs="0" maxOccurs="unbounded">
			<xs:complexType>
				<xs:attribute name="ProductPicture_ID" type="xs:string" use="required"/>
				<xs:attribute name="Pic" type="xs:anyURI" use="required"/>
				<xs:attribute name="ThumbPic" type="xs:anyURI" use="required"/>
				<xs:attribute name="PicHeight" type="xs:integer" use="required"/>
				<xs:attribute name="PicWidth" type="xs:integer" use="required"/>
				<xs:attribute name="Size" type="xs:integer" use="required"/>
			</xs:complexType>
		</xs:element>
	</xs:complexType>

	<xs:complexType name="ProductMultimediaObject">
		<xs:element name="MultimediaObject" minOccurs="0" maxOccurs="unbounded">
			<xs:complexType>
				<xs:attribute name="MultimediaObject_ID" type="xs:integer" use="required"/>
				<xs:attribute name="URL" type="xs:anyURI" use="required"/>
				<xs:attribute name="Description" type="xs:string" use="required"/>
				<xs:attribute name="Size" type="xs:integer" use="required"/>
				<xs:attribute name="Date" type="xs:string" use="required"/>
				<xs:attribute name="langid" type="xs:integer" use="required"/>
				<xs:attribute name="ContentType" type="xs:string" use="required"/>
				<xs:attribute name="KeepAsURL" type="xs:boolean" use="required"/>
				<xs:attribute name="Type" type="xs:string" use="required"/>
				<xs:attribute name="Height" type="xs:integer" use="required"/>
				<xs:attribute name="Width" type="xs:integer" use="required"/>
			</xs:complexType>
		</xs:element>
	</xs:complexType>

	<xs:complexType name="EANCode">
		<xs:attribute name="EAN" type="xs:integer"/>
	</xs:complexType>

	<xs:complexType name="ProductsListLookup">
		<xs:element name="Product" type="Product" minOccurs="0" maxOccurs="unbounded"/>
		<xs:attribute name="CODE" type="xs:integer"/>
	</xs:complexType>
	
	<xs:complexType name="ProductsStatistic">
		<xs:element name="Product" type="Product" minOccurs="0" maxOccurs="unbounded"/>
	</xs:complexType>
	
	<xs:complexType name="DescribeProductsResponse">
		<xs:element name="DescribeProductResponse" minOccurs="0" maxOccurs="unbounded">
			<xs:complexType>
				<xs:attribute name="Product_id" type="xs:integer"/>
				<xs:attribute name="Status" type="xs:integer"/>
				<xs:attribute name="DescribeProductRequest_ID" type="xs:integer"/>
				<xs:attribute name="Error" type="xs:string"/>
			</xs:complexType>
		</xs:element>
	</xs:complexType>
	
	<xs:complexType name="StatisticQueryListResponse">
		<xs:element name="StatisticQuery" type="StatisticQuery" minOccurs="0" maxOccurs="unbounded"/>
	</xs:complexType>

	<xs:element name="files">
		<xs:complexType>
			<xs:element name="file" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="path" type="xs:anyURI"/>
					<xs:attribute name="Product_id" type="xs:integer"/>
					<xs:attribute name="Updated" type="xs:string"/>
					<xs:attribute name="Quality" type="xs:string"/>
					<xs:attribute name="Supplier_id" type="xs:integer"/>
					<xs:attribute name="Prod_ID" type="xs:string"/>
				</xs:complexType>
			</xs:element>
		<xs:attribute name="Generated" type="xs:integer"/>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="StatisticQuery">
		<xs:attribute name="ID" type="xs:integer" use="required"/>
		<xs:attribute name="Code" type="xs:integer"/>
		<xs:attribute name="Period" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="StatisticQueryDate">
		<xs:attribute name="ID" type="xs:integer" use="required"/>
		<xs:attribute name="StatisticQuery_ID" type="xs:integer"/>
		<xs:attribute name="Date" type="xs:string"/>
		<xs:attribute name="Period" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="StatisticQueryDatesListResponse">
		<xs:element name="StatisticQueryDate" type="StatisticQueryDate" minOccurs="0" maxOccurs="unbounded"/>
	</xs:complexType>
	
	<xs:complexType name="StatisticQueryDateDataReportResponse">
		<xs:element name="StatisticQueryDateDataReport" minOccurs="0" maxOccurs="unbounded">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="Body" type="Body" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="StatisticQueryDate_ID" type="xs:integer" use="required"/>
				<xs:attribute name="Date" type="xs:string"/>
				<xs:attribute name="Code" type="xs:integer"/>
				<xs:attribute name="Period" type="xs:string" use="required"/>
			</xs:complexType>
		</xs:element>
	</xs:complexType>

	<xs:complexType name="Body">
		<xs:element name="Line" minOccurs="0" maxOccurs="unbounded">
			<xs:complexType>
				<xs:attribute name="Number" type="xs:string"/>
				<xs:attribute name="Level" type="xs:string"/>
				<xs:attribute name="Text" type="xs:string" use="required"/>
				<xs:attribute name="Count" type="xs:string" use="required"/>
			</xs:complexType>
		</xs:element>
	</xs:complexType>
	
	<xs:complexType name="SupplierProductFamiliesList">
		<xs:element name="ProductFamily" type="ProductFamily" minOccurs="0" maxOccurs="unbounded"/>
	</xs:complexType>
	
	<xs:complexType name="ProductsComplaintResponse">
		<xs:element name="ProductComplaintReponse" minOccurs="0" maxOccurs="unbounded">
			<xs:complexType>
				<xs:attribute name="Product_id" type="xs:integer"/>
				<xs:attribute name="ComplaintStatus_ID" type="xs:integer"/>
				<xs:attribute name="ProductComplaintRequest_ID" type="xs:integer"/>
				<xs:attribute name="Error" type="xs:string"/>
				<xs:attribute name="Confirmation" type="xs:string"/>
			</xs:complexType>
		</xs:element>
	</xs:complexType>
	
	<xs:complexType name="FulltextProductsSearchResponse">
		<xs:element name="ProductsList" type="ProductsList" minOccurs="0" maxOccurs="unbounded"/>
	</xs:complexType>
	
	<xs:complexType name="FeatureValuesVocabularyList">
		<xs:element name="FeatureValuesVocabulary" minOccurs="0" maxOccurs="unbounded">
			<xs:complexType>
				<xs:element name="FeatureValue" type="FeatureValue" minOccurs="0" maxOccurs="unbounded"/>
				<xs:attribute name="Key_Value" type="xs:string" use="required"/>
				<xs:attribute name="Group_ID" type="xs:integer" use="required"/>
			</xs:complexType>
		</xs:element>
	</xs:complexType>

	<xs:complexType name="FeatureValue">
		<xs:attribute name="langid" type="xs:integer"/>
		<xs:attribute name="ID" type="xs:integer"/>
	</xs:complexType>

</xs:schema>