connector-ttbox/icecat-connector/icecat-jaxb-api/src/main/ICECAT-interface_response.working.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:complexType name="ICECAT-interface">
		<xs:choice>
			<xs:element name="Response" type="Response"  />
			<xs:element ref="Product"   />
		</xs:choice>
	</xs:complexType>
	<xs:element name="ICECAT-interface" type="ICECAT-interface"/>
	<xs:complexType name="Response">
		<xs:choice>
			<xs:element ref="LanguageList"/>
			<xs:element ref="MeasuresList"/>
			<xs:element ref="FeaturesList"/>
			<xs:element ref="CategoriesList"/>
			<xs:element ref="SuppliersList"/>
			<xs:element ref="CategoryFeaturesList"/>
			<xs:element ref="SupplierCategoriesList"/>
			<xs:element ref="ProductsList"/>
			<xs:element ref="ProductsListLookup"/>
			<xs:element ref="ProductsStatistic"/>
			<xs:element ref="DescribeProductsResponse"/>
			<xs:element ref="StatisticQueryListResponse"/>
			<xs:element ref="StatisticQueryDatesListResponse"/>
			<xs:element ref="StatisticQueryDateDataReportResponse"/>
			<xs:element ref="SupplierProductFamiliesList"/>
			<xs:element ref="ProductsComplaintResponse"/>
			<xs:element ref="FulltextProductsSearchResponse"/>
			<xs:element name="FeatureValuesVocabularyList" type="FeatureValuesVocabularyList" minOccurs="0"/>
		</xs:choice>
		<xs:attribute name="Status"     type="xs:string"  use="required"/>
		<xs:attribute name="Request_ID" type="xs:integer" use="required"/>
		<xs:attribute name="ID"         type="xs:integer" use="required"/>
		<xs:attribute name="Date"       type="xs:string"  use="required"/>
		<xs:attribute name="Error"      type="xs:string"/>
	</xs:complexType>
 
	<xs:complexType name="LanguageList">
		<xs:sequence>
			<xs:element ref="Language" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="LanguageList" type="LanguageList"/>
	<xs:complexType name="Language">
		<xs:sequence>
			<xs:element ref="Name" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ID" use="required" type="xs:integer"/>
		<xs:attribute name="Sid" type="xs:integer"/>
		<xs:attribute name="Code" type="xs:anySimpleType"/>
		<xs:attribute name="ShortCode" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="Language" type="Language"/>
	<xs:complexType name="MeasuresList">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="Measure"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MeasuresList" type="MeasuresList"/>
	<xs:complexType name="Measure">
		<xs:choice>
			<xs:element ref="Signs"/>
			<xs:element ref="Sign"/>
			<xs:element ref="Names"/>
			<xs:element ref="Descriptions"/>
		</xs:choice>
		<xs:attribute name="ID" use="required" type="xs:integer"/>
		<xs:attribute name="Sign" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="Measure" type="Measure"/>
	<xs:complexType name="Signs">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="Sign"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Signs" type="Signs"/>
	<xs:complexType name="Sign" mixed="true">
		<xs:attribute name="ID" type="xs:integer"/>
		<xs:attribute name="langid" type="xs:integer"/>
		<xs:attribute name="Value" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="Sign" type="Sign"/>
	<xs:complexType name="Names">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="Name"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Names" type="Names"/>
	<xs:complexType name="Name" mixed="true">
		<xs:attribute name="ID" type="xs:integer"/>
		<xs:attribute name="langid" type="xs:integer"/>
		<xs:attribute name="Value" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="Name" type="Name"/>
	<xs:complexType name="Descriptions">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="Description"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Descriptions" type="Descriptions"/>
	<xs:complexType name="Description" mixed="true">
		<xs:attribute name="ID" use="required" type="xs:integer"/>
		<xs:attribute name="langid" use="required" type="xs:integer"/>
		<xs:attribute name="Value" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="Description" type="Description"/>
	<xs:complexType name="FeaturesList">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="Feature"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="FeaturesList" type="FeaturesList"/>
	<xs:complexType name="Feature">
		<xs:choice>
			<xs:element ref="Measure"/>
			<xs:element ref="Names"/>
			<xs:element ref="Descriptions"/>
			<xs:element ref="RestrictedValue" maxOccurs="unbounded"/>
			<xs:element ref="Name" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="ID" use="required" type="xs:integer"/>
		<xs:attribute name="LimitDirection" type="xs:integer"/>
		<xs:attribute name="Searchable" type="xs:integer"/>
		<xs:attribute name="CategoryFeatureGroup_ID" type="xs:integer"/>
		<xs:attribute name="No" type="xs:integer"/>
		<xs:attribute name="Class" type="xs:integer"/>
		<xs:attribute name="CategoryFeature_ID" type="xs:integer"/>
		<xs:attribute name="Type" type="xs:string"/>
	</xs:complexType>
	<xs:element name="Feature" type="Feature"/>
	<xs:complexType name="CategoriesList">
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="Category"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CategoriesList" type="CategoriesList"/>
	<xs:complexType name="Category">
		<xs:choice>
			<xs:element ref="Name" maxOccurs="unbounded"/>
			<xs:element ref="ParentCategory"/>
			<xs:element ref="Description" maxOccurs="unbounded"/>
			<xs:element ref="Keywords" maxOccurs="unbounded"/>
			<xs:element ref="CategoryFeatureGroup" maxOccurs="unbounded"/>
			<xs:element ref="UNCATID"/>
			<xs:element ref="Names"/>
			<xs:element ref="Feature" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="UNCATID" type="xs:anySimpleType"/>
		<xs:attribute name="Searchable" type="xs:anySimpleType"/>
		<xs:attribute name="Score" type="xs:anySimpleType"/>
		<xs:attribute name="ThumbPic" type="xs:anySimpleType"/>
		<xs:attribute name="ID" use="required" type="xs:integer"/>
		<xs:attribute name="LowPic" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="Category" type="Category"/>
	<xs:complexType name="Keywords">
		<xs:attribute name="ID" type="xs:integer"/>
		<xs:attribute name="langid" type="xs:integer"/>
		<xs:attribute name="Value" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="Keywords" type="Keywords"/>
	<xs:complexType name="ParentCategory">
		<xs:sequence>
			<xs:element ref="Names" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ID" use="required" type="xs:integer"/>
	</xs:complexType>
	<xs:element name="ParentCategory" type="ParentCategory"/>
	<xs:complexType name="SuppliersList">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="Supplier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SuppliersList" type="SuppliersList"/>
	<xs:complexType name="Supplier">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="Name"/>
		</xs:sequence>
		<xs:attribute name="Name" type="xs:anySimpleType"/>
		<xs:attribute name="LogoPic" type="xs:anySimpleType"/>
		<xs:attribute name="Sponsor" type="xs:anySimpleType"/>
		<xs:attribute name="ID" type="xs:integer"/>
	</xs:complexType>
	<xs:element name="Supplier" type="Supplier"/>
	<xs:complexType name="CategoryFeaturesList">
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="Category"/>
		</xs:sequence>
		<xs:attribute name="Code" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="CategoryFeaturesList" type="CategoryFeaturesList"/>
	<xs:complexType name="RestrictedValue" mixed="true"/>
	<xs:element name="RestrictedValue" type="RestrictedValue"/>
	<xs:complexType name="FeatureGroup">
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="Name"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:integer"/>
	</xs:complexType>
	<xs:element name="FeatureGroup" type="FeatureGroup"/>
	<xs:complexType name="SupplierCategoriesList">
		<xs:choice>
			<xs:element ref="Supplier"/>
			<xs:element ref="Category"/>
		</xs:choice>
		<xs:attribute name="Code" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="SupplierCategoriesList" type="SupplierCategoriesList"/>
	<xs:complexType name="UNCATID" mixed="true"/>
	<xs:element name="UNCATID" type="UNCATID"/>
	<xs:complexType name="ProductsList">
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="Product"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ProductsList" type="ProductsList"/>
	<xs:complexType name="Product">
		<xs:choice>
			<xs:element ref="ProductRelated" maxOccurs="unbounded" />
			<xs:element ref="ProductBundled" maxOccurs="unbounded"/>
			<xs:element ref="Supplier"/>
			<xs:element ref="ProductDescription"/>
			<xs:element ref="CategoryFeatureGroup"/>
			<xs:element ref="ProductFeature" maxOccurs="unbounded" />
			<xs:element ref="Category"/>
			<xs:element ref="ProductFamily"/>
			<xs:element ref="ProductGallery"/>
			<xs:element ref="ProductMultimediaObject"/>
			<xs:element ref="EANCode" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
		<xs:attribute name="Name" type="xs:anySimpleType"/>
		<xs:attribute name="Prod_id" type="xs:anySimpleType"/>
		<xs:attribute name="Quality" type="xs:anySimpleType"/>
		<xs:attribute name="Code" type="xs:integer"/>
		<xs:attribute name="HighPic" type="xs:anySimpleType"/>
		<xs:attribute name="ThumbPic" type="xs:anySimpleType"/>
		<xs:attribute name="ID" type="xs:integer"/>
		<xs:attribute name="LowPic" type="xs:anySimpleType"/>
		<xs:attribute name="Score" type="xs:integer"/>
		<xs:attribute name="ProductsDescription" type="xs:anySimpleType"/>
		<xs:attribute name="Relevance" type="xs:anySimpleType"/>
		<xs:attribute name="LowPicSize" type="xs:integer"/>
		<xs:attribute name="HighPicSize" type="xs:integer"/>
		<xs:attribute name="ThumbPicSize" type="xs:integer"/>
	</xs:complexType>
	<xs:element name="Product" type="Product"/>
	<xs:complexType name="EANCode">
		<xs:attribute name="EAN" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="EANCode" type="EANCode"/>
	<xs:complexType name="ProductRelated">
		<xs:sequence minOccurs="0" maxOccurs="1" >
			<xs:element ref="Product" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="ID" type="xs:integer"/>
		<xs:attribute name="Category_ID" type="xs:anySimpleType"/>
		<xs:attribute name="Reversed" type="xs:anySimpleType"/>
		<xs:attribute name="Preferred" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="ProductRelated" type="ProductRelated"/>
	<xs:complexType name="ProductBundled">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element ref="Product"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:integer"/>
	</xs:complexType>
	<xs:element name="ProductBundled" type="ProductBundled"/>
	<xs:complexType name="ProductDescription">
		<xs:attribute name="URL" type="xs:anySimpleType"/>
		<xs:attribute name="WarrantyInfo" type="xs:anySimpleType"/>
		<xs:attribute name="ID" type="xs:integer"/>
		<xs:attribute name="PDFURL" type="xs:anySimpleType"/>
		<xs:attribute name="PDFSize" type="xs:integer"/>
		<xs:attribute name="langid" type="xs:integer"/>
		<xs:attribute name="LongDesc" type="xs:anySimpleType"/>
		<xs:attribute name="ShortDesc" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="ProductDescription" type="ProductDescription"/>
	<xs:complexType name="CategoryFeatureGroup">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="FeatureGroup"/>
		</xs:sequence>
		<xs:attribute name="No" type="xs:integer"/>
		<xs:attribute name="ID" type="xs:integer"/>
		<xs:attribute name="FeatureGroup" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="CategoryFeatureGroup" type="CategoryFeatureGroup"/>
	<xs:complexType name="ProductFeature">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="Feature"/>
		</xs:sequence>
		<xs:attribute name="CategoryFeatureGroup_ID" type="xs:integer"/>
		<xs:attribute name="CategoryFeature_ID" type="xs:integer"/>
		<xs:attribute name="Value" type="xs:anySimpleType"/>
		<xs:attribute name="Presentation_Value" type="xs:anySimpleType"/>
		<xs:attribute name="No" type="xs:integer"/>
		<xs:attribute name="ID" type="xs:integer"/>
		<xs:attribute name="Localized" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="ProductFeature" type="ProductFeature"/>
	<xs:complexType name="ProductsListLookup">
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="Product"/>
		</xs:sequence>
		<xs:attribute name="Code" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="ProductsListLookup" type="ProductsListLookup"/>
	<xs:complexType name="ProductsStatistic">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="Product"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ProductsStatistic" type="ProductsStatistic"/>
	<xs:complexType name="DescribeProductsResponse">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="DescribeProductReponse"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DescribeProductsResponse" type="DescribeProductsResponse"/>
	<xs:complexType name="DescribeProductReponse"/>
	<xs:element name="DescribeProductReponse" type="DescribeProductReponse"/>
	<xs:complexType name="files">
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="file"/>
		</xs:sequence>
		<xs:attribute name="Generated" use="required" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="files" type="files"/>
	<xs:complexType name="file" mixed="true">
		<xs:attribute name="path" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="Product_id" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="Updated" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="Quality" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="Supplier_id" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="Prod_ID" use="required" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="file" type="file"/>
	<xs:complexType name="ProductFamily">
		<xs:choice>
			<xs:element ref="Supplier"/>
			<xs:element ref="Description" maxOccurs="unbounded"/>
			<xs:element ref="Name" maxOccurs="unbounded"/>
			<xs:element ref="ParentProductFamily" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="ID" use="required" type="xs:integer"/>
		<xs:attribute name="ThumbPic" type="xs:anySimpleType"/>
		<xs:attribute name="LowPic" type="xs:anySimpleType"/>
		<xs:attribute name="Category_ID" type="xs:integer"/>
	</xs:complexType>
	<xs:element name="ProductFamily" type="ProductFamily"/>
	<xs:complexType name="ParentProductFamily">
		<xs:attribute name="ID" use="required" type="xs:integer"/>
	</xs:complexType>
	<xs:element name="ParentProductFamily" type="ParentProductFamily"/>
	<xs:complexType name="SupplierProductFamiliesList">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="ProductFamily"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SupplierProductFamiliesList" type="SupplierProductFamiliesList"/>
	<xs:complexType name="StatisticQueryListResponse">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="StatisticQuery"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="StatisticQueryListResponse" type="StatisticQueryListResponse"/>
	<xs:complexType name="StatisticQuery">
		<xs:attribute name="ID" use="required" type="xs:integer"/>
		<xs:attribute name="Code" type="xs:anySimpleType"/>
		<xs:attribute name="Period" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="StatisticQuery" type="StatisticQuery"/>
	<xs:complexType name="StatisticQueryDatesListResponse">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="StatisticQueryDate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="StatisticQueryDatesListResponse" type="StatisticQueryDatesListResponse"/>
	<xs:complexType name="StatisticQueryDate">
		<xs:attribute name="ID" use="required" type="xs:integer"/>
		<xs:attribute name="StatisticQuery_ID" type="xs:anySimpleType"/>
		<xs:attribute name="Date" type="xs:anySimpleType"/>
		<xs:attribute name="Period" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="StatisticQueryDate" type="StatisticQueryDate"/>
	<xs:complexType name="StatisticQueryDateDataReportResponse">
		<xs:sequence>
			<xs:element ref="StatisticQueryDateDataReport"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="StatisticQueryDateDataReportResponse" type="StatisticQueryDateDataReportResponse"/>
	<xs:complexType name="StatisticQueryDateDataReport">
		<xs:sequence>
			<xs:element ref="Body"/>
		</xs:sequence>
		<xs:attribute name="StatisticQueryDate_ID" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="Date" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="Code" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="Period" use="required" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="StatisticQueryDateDataReport" type="StatisticQueryDateDataReport"/>
	<xs:complexType name="Body">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="Line"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Body" type="Body"/>
	<xs:complexType name="Line">
		<xs:attribute name="Number" type="xs:anySimpleType"/>
		<xs:attribute name="Level" type="xs:anySimpleType"/>
		<xs:attribute name="Text" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="Count" use="required" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="Line" type="Line"/>
	<xs:complexType name="ProductsComplaintResponse">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="ProductComplaintReponse"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ProductsComplaintResponse" type="ProductsComplaintResponse"/>
	<xs:complexType name="ProductComplaintResponse">
		<xs:attribute name="Product_id" type="xs:anySimpleType"/>
		<xs:attribute name="ComplaintStatus_ID" type="xs:anySimpleType"/>
		<xs:attribute name="ProductComplaintRequest_ID" type="xs:anySimpleType"/>
		<xs:attribute name="Error" type="xs:anySimpleType"/>
		<xs:attribute name="Confirmation" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="ProductComplaintResponse" type="ProductComplaintResponse"/>
	<xs:complexType name="FulltextProductsSearchResponse">
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="ProductsList"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="FulltextProductsSearchResponse" type="FulltextProductsSearchResponse"/>
	
	<xs:complexType name="FeatureValuesVocabularyList">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="FeatureValuesVocabulary"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="FeatureValuesVocabulary" >
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="FeatureValue" type="FeatureValue" />
			</xs:sequence>
			<xs:attribute name="Key_Value" type="xs:string" use="required"/>
			<xs:attribute name="Group_ID" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="FeatureValue">
		<xs:attribute name="langid" type="xs:integer"/>
		<xs:attribute name="ID" type="xs:integer"/>
	</xs:complexType>

	<xs:complexType name="ProductGallery">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="ProductPicture"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ProductGallery" type="ProductGallery"/>
	<xs:complexType name="ProductPicture">
		<xs:attribute name="ProductPicture_ID" use="required" type="xs:integer"/>
		<xs:attribute name="Pic" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="ThumbPic" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="PicHeight" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="PicWidth" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="Size" use="required" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="ProductPicture" type="ProductPicture"/>
	<xs:complexType name="ProductMultimediaObject">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="MultimediaObject"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ProductMultimediaObject" type="ProductMultimediaObject"/>
	<xs:complexType name="MultimediaObject">
		<xs:attribute name="MultimediaObject_ID" use="required" type="xs:integer"/>
		<xs:attribute name="URL" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="Description" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="Size" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="Date" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="langid" use="required" type="xs:integer"/>
		<xs:attribute name="ContentType" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="KeepAsURL" type="xs:anySimpleType"/>
		<xs:attribute name="Type" type="xs:anySimpleType"/>
		<xs:attribute name="Height" type="xs:anySimpleType"/>
		<xs:attribute name="Width" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="MultimediaObject" type="MultimediaObject"/>
	<xs:element name="ProductComplaintReponse"/>
</xs:schema>
